@inject IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookClient</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="~/icomoon/icomoon.css">
    <link rel="stylesheet" type="text/css" href="/css/vendor.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/BookClient.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="top-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                        <div class="right-element">
                            <a asp-controller="Users" asp-action="Login" class="user-account for-buy">
                                <i class="icon icon-user"></i><span>Account</span>
                            </a>
                            <a href="#" class="cart for-buy">
                                <i class="icon icon-clipboard"></i><span>
                                    Cart:(0
                                    $)
                                </span>
                            </a>


                        </div><!--top-right-->
                    </div>

                </div>
            </div>
        </div><!--top-content-->
        @{
            string role = HttpContextAccessor.HttpContext.Session.GetString("Role") ?? "";
            string email = HttpContextAccessor.HttpContext.Session.GetString("Email") ?? "";
        }
        @if (!string.IsNullOrEmpty(role))
        {
            <header id="header">
                <div class="container-fluid">
                    <div class="row">

                        <div class="col-md-2">
                            <div class="main-logo">
                                <a href="index.html"><img src="images/main-logo.png" alt="logo"></a>
                            </div>

                        </div>

                        <div class="col-md-10">

                            <nav id="navbar">
                                <div class="main-menu stellarnav">
                                    <ul class="menu-list">

                                        @if (role == "admin")
                                        {
                                            <li class="menu-item active"><a href="#home">Home</a></li>
                                            <li class="menu-item"><a href="#popular-books" class="nav-link">Popular</a></li>
                                            <li class="menu-item"><a asp-action="Index" asp-controller="Books" class="nav-link">Book</a></li>
                                            <li class="menu-item"><a asp-action="Logout" asp-controller="Users" class="nav-link">Logout(@email)</a></li>
                                        }
                                        else
                                        {
                                            <li class="menu-item active"><a href="#home">Home</a></li>
                                            <li class="menu-item"><a href="#download-app" class="nav-link">About us</a></li>
                                            <li class="menu-item"><a asp-action="Logout" asp-controller="Users" class="nav-link">Logout(@email)</a></li>
                                        }
                                    </ul>

                                    <div class="hamburger">
                                        <span class="bar"></span>
                                        <span class="bar"></span>
                                        <span class="bar"></span>
                                    </div>

                                </div>
                            </nav>

                        </div>

                    </div>
                </div>
            </header>
        }
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @* <footer class="border-top footer text-muted">
    <div class="container">
    &copy; 2024 - BookClient - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
